.btn--send {
  color: $color--main;
  border: 1px solid $color--main;
  background-color: $color--white;
  height: 46px;
  width: 200px;
  display: block;
  padding: 0 1em;
  text-align: center;
  line-height: 46px;
  font-size: 0.7em;
  letter-spacing: 4px;
  text-transform: uppercase;
  transition: 0.2s ease-out;
  transition-property: background-color;
  cursor: pointer;
  margin: 0 auto;
  font-weight: bold;
  @include on-event {
    background-color: $color--main;
    color: $color--white;
    text-decoration: none;
  }
  @include mq($from: desktop) {
    margin: 0;
  }
}

.btn--send::after {
  content: '';
  height: 8px;
  width: 8px;
  margin-top: -1px;
  margin-left: 0.5em;
  transform: rotate(45deg);
  border-width: 2px 2px 0 0;
  border-style: solid;
  border-color: #FE4132;
  display: inline-block;
  transition: 0.3s ease-out;
  transition-property: transform;
  vertical-align: middle;
}

.btn--send:hover::after {
  transform: translateX(1em) rotate(45deg);
  border-color: $color--white;
}

.link--arrow::after {
  content: '';
  height: 8px;
  width: 8px;
  margin-top: -1px;
  margin-left: 0.5em;
  transform: rotate(45deg);
  border-width: 2px 2px 0 0;
  border-style: solid;
  border-color: $color--main;
  display: inline-block;
  transition: 0.3s ease-out;
  transition-property: transform;
  vertical-align: middle;
}

.link--arrow:hover::after {
  transform: translateX(1em) rotate(45deg);
  border-color: $color--white;
}